-var classes = ['', 'pseudo-hover', 'pseudo-active', 'pseudo-disabled', 'pseudo-focus'];

link(rel="stylesheet", href="./style.css")

.content
	h2 button
	section
		each className in classes
			.column
				div.title .cnvs-button.#{className}
				button(class=className).cnvs-button Click me!
	h2 button--primary
	section
		each className in classes
			.column
				div.title .cnvs-button.cnvs-button--primary.#{className}
				button(class=className).cnvs-button.cnvs-button--primary Click me!
	h2 button--circular
	section
		each className in classes
			.column
				div.title .cnvs-button.cnvs-button--circular.#{className}
				button(class=className).cnvs-button.cnvs-button--circular +
